.createBanner-section .common-action-container button {
  background: #E8C197;
}
.createBanner-section .common-action-container .btn-container {
  display: flex;
  justify-content: flex-end;
}
.createBanner-section .main-container {
  height: 81vh;
  padding: 2rem;
  overflow-y: scroll;
}
.createBanner-section .main-container .image-container {
  height: 32.5%;
}
.createBanner-section .main-container .image-container span {
  width: 100%;
}
.createBanner-section .main-container .image-container .image-box {
  width: 750px !important;
  height: 422px !important;
  display: flex;
  justify-content: center;
}
.createBanner-section .main-container .input-box-container {
  height: 53%;
  padding-top: 2rem;
}
.createBanner-section .main-container .input-box-container .create-update-text {
  margin-left: 1.5rem;
}
.createBanner-section .main-container .input-box-container .bottle-name-box {
  margin-left: 1.5rem;
  width: 98.5%;
}
.createBanner-section .main-container .input-box-container .upload-image-btn {
  background: lightgrey;
  color: black;
}
.createBanner-section .main-container .action-container {
  height: 7%;
  display: flex;
  justify-content: baseline;
  align-items: flex-end;
}
.createBanner-section .main-container .action-container .update-btn-container {
  width: 48% !important;
}
.createBanner-section .main-container .action-container .update-btn-container .update-btn {
  background: #E8C197;
}
.createBanner-section .main-container .action-container .cancel-btn-container {
  width: 48% !important;
}
.createBanner-section .main-container .action-container .cancel-btn-container .cancel-btn {
  background: lightgrey;
}
