
<div class="modal-header">
        <h3>{{modal.header}}</h3>
    </div>
    <form>
      <div class="modal-body">
            <div class="row">
                    <div class="form-group col-xs-12">
                        <input type="password" class="form-control input-box-size" ng-model="password.currentPassword" placeholder="Old Password" />
                    </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="form-group col-md-12">
                        <input type="password" ng-model="password.newPassword" class="form-control input-box-size" placeholder="Current Password"/>
                    </div>  
                        
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="form-group col-md-12">
                        <input type="password" ng-model="password.confirmNewPassword" class="form-control input-box-size" placeholder="Confirm New Password"/>
                    </div>  
                </div>
            </div>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" ng-click="submit(password);">Change Password.</button>
          <button class="btn btn-secondary" ng-click="cancel();">Cancel</button>      
      </div>
</form>
